#events {
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
    padding: 15px;
    margin: 20px 0;
}
    #events .table {
        margin: 0;
    }
    #events .table tr:first-child td {
        border-top: 0;
    }

    
    #events .table tr.expired {
        opacity: 0.4;
    }
    #events .table tr.expired:hover {
        zoom: 1;
        filter: alpha(opacity=100);
        opacity: 1;
        -webkit-transition: opacity .3s ease-in-out;
        -moz-transition: opacity .3s ease-in-out;
        -ms-transition: opacity .3s ease-in-out;
        -o-transition: opacity .3s ease-in-out;
        transition: opacity .3s ease-in-out;
    }

    #events .table td {
        padding: 15px 0;
        border-color: #eee;
        vertical-align: middle;
    }

    #events .table .date {
        color: #999;
        font-size: 24px;
    }
    #events .table .title {
        max-width: 600px;
    }
        #events .table .title h2 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        #events .table .title h2 a, #events .table .title h2 a:hover {
            color: #333;
        }
    
    /* buttons */
    #events .apply, #events .deny {
        display: inline-block;
        width: 48px;
        height: 48px;
    }
    #events .apply.disabled, #events .deny.disabled { 
        opacity: 0.3;
        filter: grayscale(1);
        -webkit-filter: grayscale(1);
        -moz-filter: grayscale(1);
        -o-filter: grayscale(1);
        -ms-filter: grayscale(1);
    }
    #events .apply { background: url(../img/tick.png); }
    #events .deny { background: url(../img/delete.png); }
    
.event-view .pull-right {
    line-height: 48px;
}

#members {
    margin-top: 20px;
}
    #members .member.pending {
        opacity: 0.4;
    }
    #members .apply td.username {
        font-weight: bold;
    }
